 <footer class="mt-4 pt-4 g-0">
	

		<div class="container">
			<div class="row justify-content-md-center cgv">
				<div class="col-md-auto"><a href="#">Plan du site</a></div>

				<div class="col-md-auto"><a href="#">Politique de confidentialité</a></div>

				<div class="col-md-auto"><a href="#">Mentions légales</a> & <a href="#">CGV</a></div>
			</div>
		</div> 


	<div class="container-fluid bg-dark mt-3 mx-auto text-center footerband">&copy; BestHotel {{ "now"|date('Y') }}- Made with <span class="gold"></span> by AyefMess</div>

</footer>